body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  /*text-align: center;*/
}

.getStarted, .About {
  border: 1px solid black;
  margin: 5px 0px;
}

.container {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 30px;
  /*z-index: 0;*/
  margin: 0 auto;
  display: block;
  background-image: url('https://images.unsplash.com/photo-1487086877694-1106c940917a?w=2555&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 850px;
  min-width: 100%;
}

.Navbar {
  background-color: lightgray;
  color: black;
  /*padding: 50px;*/
}

.Navbar img {
  padding-left: 50px;
}

.logo {
  height: 31px;
  border-radius: 6px;
  margin: 16px 24px 16px 0;
  float: left;
}

/*.CollapsibleItem {
  margin: 50px;
}*/
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 20%;
  display: inline-block;
}*/
/*
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}*/

.Footer {
  
  background: gray; 
  /*background: #000 url(image.gif) no-repeat top left fixed;;*/
}
/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/